@import '../fonts/Pretendard/pretendardvariable.css';

:root {
    --layer-z-index-root: auto;
    --layer-z-index-header: 100;
    --layer-z-index-navbar: 10;
    --layer-z-index-sub: 100;
    --layer-z-index-modal: 200;
    --layer-z-index-drawer: 300;
}

:root {
    font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    color: #213547;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    user-select: none;
}

*:before,
*:after {
    user-select: none;
}

img, svg {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: none;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    color: #646cff;
    min-height: 44px;
}

/* button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

}



#root {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}


@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}


.app-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    z-index: var(--layer-z-index-header);
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bar {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    width: auto;
    height: 60px;
    background-color: #000;
    z-index: var(--layer-z-index-navbar);
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 24px;
    overflow: hidden;
}

.nav-bar button {
    appearance: none;
    flex: 1 0 0;
    min-width: 0;
    text-align: center;
    background: transparent;
}



.page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    z-index: calc(var(--layer-z-index) + var(--transition-z-index));
    --transition-duration: 200ms 100ms;
    --transition-easing: cubic-bezier(1.000, 0.000, 0.070, 1.000);
    --transition-z-index: 0;
}

.page--root {
    --layer-z-index: var(--layer-z-index-root);
}

.page--sub {
    --layer-z-index: var(--layer-z-index-sub);
}

/* 앞으로 가기 애니메이션 */
.page-forward-enter {
    --transition-z-index: 1;
    opacity: 0;
    transform: translateY(200px) translateZ(0);
}

.page-forward-enter-active {
    transform: translateY(0) translateZ(0);
    opacity: 1;
    transition: all var(--transition-duration) var(--transition-easing);
}

.page-forward-exit {
    --transition-z-index: 0;
    opacity: 1;
    transform: translateY(0) translateZ(0);
}

.page-forward-exit-active {
    opacity: 0;
    transform: translateY(-20px) translateZ(0);
    transition: all var(--transition-duration) var(--transition-easing);
}

.page-forward-enter-done { --transition-z-index: 1; }
.page-forward-exit-done { --transition-z-index: 0; }

/* 뒤로 가기 애니메이션 */
.page-back-enter {
    --transition-z-index: 0;
    opacity: 0;
    transform: translateY(-20px) translateZ(0);
}

.page-back-enter-active {
    opacity: 1;
    transform: translateY(0) translateZ(0);
    transition: all var(--transition-duration) var(--transition-easing);
}

.page-back-exit {
    --transition-z-index: 1;
    opacity: 1;
    transform: translateY(0) translateZ(0);
}

.page-back-exit-active {
    opacity: 0;
    transform: translateY(200px) translateZ(0);
    transition: all var(--transition-duration) var(--transition-easing);
}

.page-back-enter-done { --transition-z-index: 0; }
.page-back-exit-done { --transition-z-index: 1; }